/* CSS BY Cayden DeKorte */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
  --text-main: #222;
  --text-med: #444;
  --text-light: #666;
  --accent: #0130ff; 
  --bg-light: #f8f8f8;
  --max-width: 600px;
}

/* GLOBAL STYLES (mobile first/small) */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-main);
  padding: 20px;
  line-height: 1.6;
  background: white;
}

h1, h2, h3 {
  margin-bottom: 12px;
  font-weight: 700;
}

h3 {
    color: var(--text-med)
}

h4 {
    color: var(--text-light)
}

p {
  margin-bottom: 14px;
}

ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

ul li a {
  color: var(--accent);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
}

section {
  margin-bottom: 40px;
  max-width: var(--max-width);
}

/* Services section spacing */
.service-block {
  margin-bottom: 30px;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #333;
}

th, td {
  padding: 10px;
  text-align: left;
}

/* Links in steps */
section a {
  text-decoration: none;
  color: var(--accent);
  text-decoration: underline;
}

/* Links in footer */
footer a {
  text-decoration: none;
  color: var(--accent);
  text-decoration: underline;
}